/* common styles */

* {
    font-family: 'Work Sans', sans-serif;
}

/* header style */
.header {
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;

}

/* nav section styles */
nav {
    display: flex;
    justify-content: space-between;
    
}

.nav-title {
    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
    color: #131313;
    padding-top: 70px;
    padding-left: 170px;
   
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 108px;
    padding-right: 252px;
   

}

nav ul li {
    list-style: none;
    padding-left: 50px;
    font-weight: 500;
    font-size: 18px;

}

nav ul li a {
    text-decoration: none;
    color: #424242;
}

/* banner section styles*/
.banner {
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;

}

.banner-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
}

.btn-primary:hover {
    background-color: #727272;
    border: 2px solid black;
}

.banner img {
    width: 75%;
    height: 600px;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 190px;
    padding-bottom: 45px;
    background: url(group-three-modern-architects.jpg);
    border-radius: 8px;
}

/* features list style */
.features-list {
    display: flex;

    padding-top: 130px;
    padding-left: 200px;

}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-info {
    padding-top: 150px;
    padding-left: 76px;
    padding-right: 100px;
}

.features-title {
    font-weight: 500;
    font-size: 45px;
}

.quick {
    color: #727272;
}

.our {
    color: #131313;
}

.yellow {
    color: #FF900E;
}

.features-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* The features you will love and enjoy section styles */
.our-enjoyed-features {
    display: flex;
    gap: 120px;
    padding-left: 110px;
    padding-right: 125px;
    padding-top: 160px;
}

.our-features-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    border-left: 5px solid #FF900E;
    height: 106px;
    padding-left: 21px;

}

.our-features-description {
    padding-top: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.future-features {
    margin-top: 20px;
    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 29px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.future-features-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.future-feature-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}
.our-features-pic img{
    width: 100%;
    height: 100%;
}

.btn-experience {
    margin-top: -100px;
    margin-left: -70px;
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 25px;

}

.btn-experience .year {
    font-weight: 700;
    font-size: 45px;

}

.btn-experience .exp {
    font-weight: 500;
    font-size: 20px;
    text-align: center;

}
.btn-experience:hover{
    background-color: #727272;
    border: 2px solid black;
}
/* some facts section */
.some-facts {
    padding-left: 100px;
    padding-top: 130px;

}

.some-fact-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-top: 24px;
}

.some-fact-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-bottom: 100px;
}

.facts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    text-align: center;
    padding-left: 40px;
    padding-right: 35px;
    margin-top: 40px;
}

.fact {
    width: 170.83px;
    height: 180.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 35px 60px 35px;

}

.fact:hover {
    transform: rotate(180deg) scale(0.7);
    background-color: peru;

}

.fact:hover {
    transition: width 1s, height 2s, transform 2s;
}

.fact .p-number {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.fact .p-text {
    font-weight: 600;
    font-size: 20px;
    color: #727272;

}

/* Our Sponspors section styles */

.sponspors-info {
    text-align: center;
    padding-top: 130px;
}

.sponspors-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;


}

.sponspors-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.sponspors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 80px;
    padding-top: 50px;
    padding-right: 40px;
}

.sponspor {
    mix-blend-mode: luminosity;
}
/* Extra Section styles */
.our-plans{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: center;
    padding-top: 90px;
}
.our-plan-details{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;

}
.my-own-section{
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

}

.section-part img{
    width: 350px;
    height: 60hv;
    transition: width 1s, height 1s, transform 1s;
}
.section-part img:hover{
    transform: scale(0.5);
}


/* footer section */
.footer {
    width: 90%;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    margin: 130px 90px 200px 80px;
}

.footer-description {
    padding-top: 38px;
    padding-bottom: 38px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
}

/* --------------------------------------------------------------------------
                          Media queries
-----------------------------------------------------------------------------*/

/* ===========> Mobile devices <============ */

@media only screen and (max-width:688px) {
    .header {
        width: 100%;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        row-gap: 0px;
    }

    .nav-title {
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        color: #131313;
        padding: 0px;
    }


    nav ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 5px;
        padding: 0px;
        text-align: center;
    }

    nav ul li {
        list-style: none;
        padding: 0px;
        font-weight: 500;
        font-size: 15px;


    }

    .banner-title {
        font-weight: 700;
        font-size: 50px;

    }

    .banner-info {
        font-weight: 400;
        font-size: 12px;
        padding-left: 20px;
        padding-right: 15px;
    }

    .btn-primary {
        font-weight: 600;
        font-size: 15px;
        width: 100px;
        height: 50px;
        margin-top: 25px;

    }

    .banner img {
        width: 75%;
        height: 60%;
        padding-top: 40px;
        padding-left: 50px;
        padding-right: 19px;
        padding-bottom: 15px;

    }

    .features-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        padding-top: 40px;
        padding-left: 20px;

    }

    .features {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 18px;

    }

    .features-info {
        padding-top: 50px;
        padding-left: 18px;
        padding-right: 20px;
        padding-bottom: 50px;
    }

    .our-enjoyed-features {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0px;
        gap: 20px;
        padding-left: 20px;
    }

    .our-features-title {

        font-size: 38px;
        height: 80px;
        padding-bottom: 24px;
        padding-left: 21px;

    }

    .our-features-pic img {
        width: 90%;
        height: 100%;
    }

    .btn-experience {
        margin-top: -100px;
        margin-left: -10px;
        border-radius: 8px;
        border: none;
        padding: 15px;

    }

    .btn-experience .year {
        font-weight: 700;
        font-size: 42px;

    }

    .btn-experience .exp {
        font-weight: 500;
        font-size: 18px;
        text-align: center;

    }

    .some-facts {
        padding-left: 30px;
        padding-top: 30px;

    }

    .some-fact-title {

        font-size: 42px;
        padding-top: 10px;
    }

    .some-fact-description {

        padding-bottom: 20px;
    }

    .facts {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 10px;
        padding-right: 5px;
        margin-top: 40px;
    }

    .fact {
        width: 200px;
        height: 200px;
        padding: 15px 15px 30px 15px;
        margin-top: 20px;

    }

    .fact .p-number {

        font-size: 38px;

    }

    .fact .p-text {

        font-size: 18px;


    }
    .sponspors {
        
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        padding-left: 40px;
        

    }
    .my-own-section{
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    
    }
    .my-own-section img{
        width: 90%;
        height: 90%;
    }
    
    .footer {
       width: 80%;
       height: 70px;
       border-radius: 8px;
       margin: 50px 10px 0px 30px;
    }

    .footer-description {
        padding-top: 18px;
        padding-bottom: 18px;
        font-weight: 400;
        font-size: 13px;
    }

}